## the markdown cell for the data dictionary

- Import the libraries

In [129]:
import pandas as pd 
import numpy as np

In [130]:
# open your dataset 
autos = pd.read_csv("autos.csv" , encoding = "Latin-1")
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [131]:
# get the information about your dataset
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
dateCrawled            371528 non-null object
name                   371528 non-null object
seller                 371528 non-null object
offerType              371528 non-null object
price                  371528 non-null int64
abtest                 371528 non-null object
vehicleType            333659 non-null object
yearOfRegistration     371528 non-null int64
gearbox                351319 non-null object
powerPS                371528 non-null int64
model                  351044 non-null object
kilometer              371528 non-null int64
monthOfRegistration    371528 non-null int64
fuelType               338142 non-null object
brand                  371528 non-null object
notRepairedDamage      299468 non-null object
dateCreated            371528 non-null object
nrOfPictures           371528 non-null int64
postalCode             371528 non-null int64
lastSeen               371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [132]:
# print the columns names and see if you need to modify it 
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

- here the columns are in the camelCase and we prefer snack_case so convert them to camelCase

In [133]:
# first approch to clean the columns
# build a function to clean them and then loop inside and do it
def clean_columns(c):
    c = c.strip()
    c = c.replace("yearOfRegistration" , "registration_year")
    c = c.replace("monthOfRegistration" , "registration_month")
    c = c.replace("notRepairedDamage" , "unrepaired_damage")
    c = c.replace("dateCreated" , "ad_created")
    c = c.lower()
    return c

new_columns = []

for column in autos.columns:
    column = clean_columns(column)
    new_columns.append(column)
    
autos.columns = new_columns
autos.columns

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gearbox', 'powerps', 'model',
       'kilometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

- this approch works but not all the names are modified to snack_case we will try anothe approach

In [134]:
# use the df.rename method to change each name 
autos.rename({"gearbox" : "gear_box"} , axis = 1 , inplace = True)
autos.columns

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gear_box', 'powerps', 'model',
       'kilometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

- but the problem now we will write 20 lines for each one at least but let's make it stubid but easy

In [135]:
# third approach modify the names in one list
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen'] 
autos.columns = new_columns
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

- explore the data to know what other cleaning tasks need to be done

In [136]:
autos.describe(include = "all")

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
count,371528,371528,371528,371528,3.715280e+05,371528,333659,371528.000000,351319,371528.000000,351044,371528.000000,371528.000000,338142,371528,299468,371528,371528.0,371528.00000,371528
unique,280500,233531,2,2,NaN,2,8,NaN,2,NaN,251,NaN,NaN,7,40,2,114,NaN,NaN,182806
top,2016-03-24 14:49:47,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-06 13:45:54
freq,7,657,371525,371516,NaN,192585,95894,NaN,274214,NaN,30070,NaN,NaN,223857,79640,263182,14450,NaN,NaN,17
mean,NaN,NaN,NaN,NaN,1.729514e+04,NaN,NaN,2004.577997,NaN,115.549477,NaN,125618.688228,5.734445,NaN,NaN,NaN,NaN,0.0,50820.66764,NaN
std,NaN,NaN,NaN,NaN,3.587954e+06,NaN,NaN,92.866598,NaN,192.139578,NaN,40112.337051,3.712412,NaN,NaN,NaN,NaN,0.0,25799.08247,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.00000,NaN
25%,NaN,NaN,NaN,NaN,1.150000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30459.00000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49610.00000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71546.00000,NaN
max,NaN,NaN,NaN,NaN,2.147484e+09,NaN,NaN,9999.000000,NaN,20000.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.00000,NaN

In [137]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
date_crawled          371528 non-null object
name                  371528 non-null object
seller                371528 non-null object
offer_type            371528 non-null object
price                 371528 non-null int64
ab_test               371528 non-null object
vehicle_type          333659 non-null object
registration_year     371528 non-null int64
gearbox               351319 non-null object
power_ps              371528 non-null int64
model                 351044 non-null object
odometer              371528 non-null int64
registration_month    371528 non-null int64
fuel_type             338142 non-null object
brand                 371528 non-null object
unrepaired_damage     299468 non-null object
date_created          371528 non-null object
nr_of_pictures        371528 non-null int64
postal_code           371528 non-null int64
last_seen             371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

- data here is cleaner than the website

- for some practice i can derties the data and clean it back

In [138]:
print(autos["odometer"].dtype)
autos["odometer"].unique()

int64

array([150000, 125000,  90000,  40000,  30000,  70000,   5000, 100000,
        60000,  20000,  80000,  50000,  10000], dtype=int64)

In [139]:
# change the odometer column name
autos = autos.rename({"odometer" : "odometer_km"} , axis = 1)

####  there are a number of text columns where almost all of the values are the same 
- seller , offer_type

In [140]:
print(autos["seller"].unique())
autos["seller"].value_counts()

['privat' 'gewerblich']

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [141]:
print(autos["offer_type"].unique())
autos["offer_type"].value_counts()

['Angebot' 'Gesuch']

Angebot    371516
Gesuch         12
Name: offer_type, dtype: int64

- Let's continue exploring the data, specifically looking for data that doesn't look right. We'll start by analyzing the odometer_km and price columns

In [142]:
# seee how many unique values
print(autos["seller"].unique().shape)
autos["seller"].unique()

(2,)

array(['privat', 'gewerblich'], dtype=object)

In [143]:
# get some statistics
autos["seller"].describe()

count     371528
unique         2
top       privat
freq      371525
Name: seller, dtype: object

In [144]:
# count of series
autos["seller"].value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [145]:
autos["seller"].sort_index(ascending = False).head()

371527    privat
371526    privat
371525    privat
371524    privat
371523    privat
Name: seller, dtype: object

- removing outliers values using df[(df["col"] > x ) & (df["col"] < y )]

- exploring odometer_km and price columns

In [146]:
# let's see the price column if there are outliers or not
# the number of unique values
autos["price"].unique().shape

(5597,)

In [147]:
# statistics
autos["price"].describe()

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

In [148]:
autos["price"].value_counts(dropna = False)

0         10778
500        5670
1500       5394
1000       4649
1200       4594
          ...
23456         1
171000        1
21830         1
13485         1
8188          1
Name: price, Length: 5597, dtype: int64

- I am sure that no one is selling his car for free :) cause there is a price zerooo how !!!
- we will try to do somthing to change it or removing those outliers

In [149]:
# remove the rows with price zero
autos = autos[autos["price"] != 0]
autos["price"].value_counts(dropna = False)

500       5670
1500      5394
1000      4649
1200      4594
2500      4438
          ...
30530        1
171000       1
21830        1
13485        1
8188         1
Name: price, Length: 5596, dtype: int64

- we have removed all the rows for the price zero for any car i am not sure about any car with 500 dollars or whatever the currency but i am gonna leave it

In [150]:
autos["price"].value_counts().sort_index()

1             1189
2               12
3                8
4                1
5               26
              ...
32545461         1
74185296         1
99000000         1
99999999        15
2147483647       1
Name: price, Length: 5596, dtype: int64

- from the last cell we can see some prices are one or two dollars not correct i think or impossible
- i will delete any price less than 1000 dollars and above 10,000,000

In [151]:
autos = autos[autos["price"].between(1 , 500000)]
autos["price"].value_counts().sort_index(ascending = False)

500000       2
488997       1
487000       1
485000       1
466000       1
          ...
5           26
4            1
3            8
2           12
1         1189
Name: price, Length: 5557, dtype: int64

In [152]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360650 entries, 0 to 371527
Data columns (total 20 columns):
date_crawled          360650 non-null object
name                  360650 non-null object
seller                360650 non-null object
offer_type            360650 non-null object
price                 360650 non-null int64
ab_test               360650 non-null object
vehicle_type          326555 non-null object
registration_year     360650 non-null int64
gearbox               342959 non-null object
power_ps              360650 non-null int64
model                 342386 non-null object
odometer_km           360650 non-null int64
registration_month    360650 non-null int64
fuel_type             330739 non-null object
brand                 360650 non-null object
unrepaired_damage     293923 non-null object
date_created          360650 non-null object
nr_of_pictures        360650 non-null int64
postal_code           360650 non-null int64
last_seen             360650 non-null object
dtypes: int64(7), object(13)
memory usage: 57.8+ MB

- now we reduced the number of rows to almost around 289000 rows only
- with the same technique we will explore the "odometer_km"

In [153]:
# unique values first
print(autos["odometer_km"].unique().shape)
autos["odometer_km"].value_counts().sort_index()

(13,)

5000        6018
10000       1869
20000       5534
30000       5937
40000       6319
50000       7532
60000       8593
70000       9673
80000      10905
90000      12349
100000     15479
125000     37371
150000    233071
Name: odometer_km, dtype: int64

- from previos cell the observation is 13 unique values in between (5000 , 150000) km for the odometer and i thin it makes sense no problem

In [154]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360650 entries, 0 to 371527
Data columns (total 20 columns):
date_crawled          360650 non-null object
name                  360650 non-null object
seller                360650 non-null object
offer_type            360650 non-null object
price                 360650 non-null int64
ab_test               360650 non-null object
vehicle_type          326555 non-null object
registration_year     360650 non-null int64
gearbox               342959 non-null object
power_ps              360650 non-null int64
model                 342386 non-null object
odometer_km           360650 non-null int64
registration_month    360650 non-null int64
fuel_type             330739 non-null object
brand                 360650 non-null object
unrepaired_damage     293923 non-null object
date_created          360650 non-null object
nr_of_pictures        360650 non-null int64
postal_code           360650 non-null int64
last_seen             360650 non-null object
dtypes: int64(7), object(13)
memory usage: 57.8+ MB

### exploring the date columns

In [155]:
autos[["date_crawled" , "date_created" , "last_seen"]].dtypes

date_crawled    object
date_created    object
last_seen       object
dtype: object

In [156]:
autos[["date_crawled" , "date_created" , "last_seen"]][0:3]

          date_crawled         date_created            last_seen
0  2016-03-24 11:52:17  2016-03-24 00:00:00  2016-04-07 03:16:57
1  2016-03-24 10:58:45  2016-03-24 00:00:00  2016-04-07 01:46:50
2  2016-03-14 12:52:21  2016-03-14 00:00:00  2016-04-05 12:47:46

In [164]:

autos["date_crawled"].str[:10].value_counts(dropna = False , normalize = True).sort_index()

2016-03-05    0.025546
2016-03-06    0.014482
2016-03-07    0.035655
2016-03-08    0.033467
2016-03-09    0.034113
2016-03-10    0.032647
2016-03-11    0.032771
2016-03-12    0.036240
2016-03-13    0.015783
2016-03-14    0.036329
2016-03-15    0.033423
2016-03-16    0.030204
2016-03-17    0.031648
2016-03-18    0.013118
2016-03-19    0.035270
2016-03-20    0.036398
2016-03-21    0.035688
2016-03-22    0.032494
2016-03-23    0.032006
2016-03-24    0.029915
2016-03-25    0.032799
2016-03-26    0.031973
2016-03-27    0.030226
2016-03-28    0.035062
2016-03-29    0.034124
2016-03-30    0.033534
2016-03-31    0.031873
2016-04-01    0.034149
2016-04-02    0.035095
2016-04-03    0.038810
2016-04-04    0.037627
2016-04-05    0.012785
2016-04-06    0.003128
2016-04-07    0.001617
Name: date_crawled, dtype: float64

- i do not know any observation about this column

In [170]:
# by the same method investigate the other columns
autos["date_created"].str[:10].value_counts(dropna = False , normalize = True).sort_index()

2014-03-10    0.000003
2015-03-20    0.000003
2015-06-11    0.000003
2015-06-18    0.000003
2015-08-07    0.000003
                ...
2016-04-03    0.038999
2016-04-04    0.037735
2016-04-05    0.011618
2016-04-06    0.003119
2016-04-07    0.001553
Name: date_created, Length: 114, dtype: float64

In [172]:
autos["registration_year"].describe()

count    360650.000000
mean       2004.433035
std          81.015348
min        1000.000000
25%        1999.000000
50%        2004.000000
75%        2008.000000
max        9999.000000
Name: registration_year, dtype: float64

- some bad results now like 9999 year which we will die before it surely and the year 1000 ! when there was no cars

- i will say that the max acceptable value is 2016 and lower is 1950 and see what will we get because it makes sense

In [175]:
autos["registration_year"].between(1950 , 2016).value_counts(dropna = False)

True     346509
False     14141
Name: registration_year, dtype: int64

In [178]:
# remove those rows
autos = autos[autos["registration_year"].between(1950 , 2016)]

In [181]:
# the distribution remaining is 
autos["registration_year"].value_counts(dropna = False , normalize = True).sort_index(ascending = False)

2016    0.026600
2015    0.008433
2014    0.013763
2013    0.017665
2012    0.027009
          ...
1954    0.000040
1953    0.000049
1952    0.000032
1951    0.000049
1950    0.000061
Name: registration_year, Length: 67, dtype: float64

### exploring price by brand

In [190]:
agg_dic = {}

for b in autos["brand"].unique():
    selected_rows = autos[autos["brand"] == b]
    mean = selected_rows["price"].mean()
    agg_dic[b] = mean
    
agg_dic

{'volkswagen': 5397.604268891069,
 'audi': 9086.796172187138,
 'jeep': 11196.708609271524,
 'skoda': 6530.51084957705,
 'bmw': 8458.90055669345,
 'peugeot': 3266.049956933678,
 'ford': 3680.766059082338,
 'mazda': 4076.357959872492,
 'nissan': 4708.931268561731,
 'renault': 2437.9086769081305,
 'mercedes_benz': 8551.515954118873,
 'seat': 4541.999227083012,
 'honda': 4005.6602834163155,
 'fiat': 2889.312851044709,
 'opel': 2968.663656088961,
 'mini': 10080.620657854288,
 'smart': 3632.480877616747,
 'hyundai': 5568.614583333333,
 'sonstige_autos': 14855.573144441023,
 'alfa_romeo': 4291.759945130316,
 'subaru': 4391.99863574352,
 'volvo': 5238.4203721223585,
 'mitsubishi': 3407.4788091068303,
 'kia': 5855.187734668335,
 'suzuki': 4044.3902991840437,
 'lancia': 3289.9955654101996,
 'porsche': 43580.66805555556,
 'citroen': 3733.2394949285863,
 'toyota': 5339.680571046174,
 'chevrolet': 7060.284398388026,
 'dacia': 5922.862427745665,
 'daihatsu': 1775.0974632843793,
 'trabant': 1919.8592132505175,
 'chrysler': 4104.2565445026175,
 'jaguar': 14516.529900332225,
 'daewoo': 1027.8415841584158,
 'rover': 1600.4421768707482,
 'saab': 3955.5944881889764,
 'land_rover': 17070.10252996005,
 'lada': 3191.4251207729467}

In [191]:
# aggregate for each brand or at least 5 or 6 brands to practice the aggregation and to get the idea of it